body {
    color: #eee;
    font-family: Poppins;
    margin: 0;
    background-image: repeating-linear-gradient(
        to right,
        #2d2a44 0 1px,
        transparent 2px 200px
      ),
      repeating-linear-gradient(to bottom, #2d2a44 0 1px, transparent 2px 200px),
      radial-gradient(at 50% 50%, #2d2a44, #1d1b34);
  }
  
  button {
    all: unset;
    border: 1px solid #afaeae55;
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #eee1, transparent, #eee1);
    cursor: pointer;
    transition: 0.5s;
  }
  
  button:hover {
    background-color: #c691e6;
    color: #040018;
    box-shadow: 0 0 50px #c691e6;
  }
  